<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/footer.css">
</head>
<body>
    <div class="footer-bg">
       <div class="layui-container footer-one">
              <div class="layui-row">
                <div class="layui-col-md3">
                    <h3>走进无极限</h3>
                    <ul>
                        <li><a href="javascript:;">董事长寄语</a></li>
                        <li><a href="javascript:;">VR+体验馆</a></li>
                        <li><a href="javascript:;">电子读物</a></li>
                    
                    </ul>
                </div>
                <div class="layui-col-md3">
                    <h3>热点聚焦</h3>
                    <ul>
                        <li><a href="javascript:;">公司动态</a></li>
                        <li><a href="javascript:;">专题</a></li>
                        <li><a href="javascript:;">有氧FM</a></li>
                        <li><a href="javascript:;">多媒体素材</a></li>
                    </ul>
                </div>
                <div class="layui-col-md3">
                        <h3>热点聚焦</h3>
                        <ul>
                            <li><a href="javascript:;">公司动态</a></li>
                            <li><a href="javascript:;">专题</a></li>
                            <li><a href="javascript:;">有氧FM</a></li>
                            <li><a href="javascript:;">多媒体素材</a></li>
                        </ul>
                </div>
                <div class="layui-col-md3">
                        <h3>热点聚焦</h3>
                        <ul>
                            <li><a href="javascript:;">公司动态</a></li>
                            <li><a href="javascript:;">专题</a></li>
                            <li><a href="javascript:;">有氧FM</a></li>
                            <li><a href="javascript:;">多媒体素材</a></li>
                        </ul>
                </div>


              </div>


       </div>
       <div class="layui-container footer-second">
           <a href="javascript:;" class="copywright">Copyright © 2017-2020 智慧青年. All Rights Reserved.闽ICP备15012317号-1</a>
       </div>
    </div>
</body>
</html>