<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/header.css">
</head>

<body>
    <!--header开始-->
    <div class="header">
        <div class="header-navbar-bg">
            <div class="layui-container header-navbar">
                <div class="pull-right">
                    <span class="first">
                        <i class="layui-icon layui-icon-username"></i>
                        <a href="javascript:;">请登录</a>

                    </span>
                    <span>
                        <i class="layui-icon layui-icon-face-smile"></i>
                        <a href="javascript:;">消息</a>
                    </span>
                    <span>
                        <i class="layui-icon layui-icon-engine"></i>
                        <a href="javascript:;">百宝箱</a>

                    </span>
                    <span>

                        <i class="layui-icon layui-icon-cellphone"></i>
                        <a href="javascript:;">手机无极限</a>
                    </span>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="header-bg">
            <div class="layui-container">
                <div class="logo pull-left">
                    <a href="#"></a>

                </div>
                <div class="catebar pull-left">
                    <span>
                        <a href="javascript:;" class="active">资讯</a>
                        <a href="javascript:;">产品</a>
                    </span>

                </div>
                <div class="weixinbar pull-right">
                    <div class="pull-left">
                        <img src="../../images/app-lg2.png" alt="无极限中国app">
                        <p>无极限中国app</p>

                    </div>
                    <div class="pull-left">
                        <img src="../../images/app-lg2.png" height="100" width="100" alt="无极限服务">
                        <p>无极限服务</p>
                    </div>


                </div>
                <div class="searcher pull-right">
                    <i class="layui-icon layui-icon-search"></i>
                    <input type="text" name="title" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="line-shadow"></div>
            <div class="nav-bg box-shadow">
                <div class="layui-container header-nav">
                    <ul>
                        <li>
                            <a href="javascript:;">首页</a>
                        </li>
                        <li>
                            <a href="javascript:;">公司要闻</a>
                            <div class="subNav box-shadow">
                                <div class="layui-container">
                                    <ul class="layui-row">
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;">走进无极限</a>
                            <div class="subNav box-shadow">
                                <div class="layui-container">
                                    <ul class="layui-row">
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">company介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">company介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">company介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">company介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">company介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">company介绍</a>
                                            </div>
                                            

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                        <li class="layui-col-md2">
                                            <h4>
                                                <a href="javascript:;">公司介绍</a>
                                            </h4>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>
                                            <div>
                                                <a href="javascript:;">公司介绍</a>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </li>
                        <li>
                            <a href="javascript:;">健康人生</a>
                        </li>
                        <li>
                            <a href="javascript:;">社会责任</a>
                        </li>
                        <li>
                            <a href="javascript:;">服务大厅</a>
                        </li>
                        <li>
                            <a href="javascript:;">其他</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
        <!--header 结束-->
        <div class="layui-carousel banner" id="banner" style="margin-top: 45px;">

                <div carousel-item>
                        <div>条目1</div>
                        <div>条目2</div>
                        <div>条目3</div>
                        <div>条目4</div>
                        <div>条目5</div>
                      </div>

        </div>

        <script src="../../js/plugins/layui/layui.js"></script>
        <script>

            layui.use('carousel', function () {
                var carousel = layui.carousel;
                //建造实例
                carousel.render({
                    elem: '#banner'
                    , width: '100%' //设置容器宽度
                    , arrow: 'always' //始终显示箭头
                    //,anim: 'updown' //切换动画方式
                });
            });
        </script>


</body>

</html>